
/*Bless this mess.*/

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@font-face { font-family: Shumi; src: url('res/fonts/Shumi.otf') format("opentype"); }
/*
--- Non-Google Font Credits ---
   > Shumi: Created by Ivan Shumikhin, font available at www.behance.net/gallery/26717297/Shumi-Free-font
*/


//v1 Code

body{
  background:   #bbb;
  margin:       0;
  padding:      0;
  display:      flex;
  flex-flow:    column;
}
headerBar{
  display:      flex;
  flex-flow:    row;
  width:        100%;
  background:   #555;
  height:       50px;
  position:     fixed;;
  margin:       0;
  font-family:  'Josefin Sans', sans-serif;
  z-index:      2;
  order: 1;
}
buttonContainer{
  display:      flex;
  flex-flow:    row;
  width:        25%;
  background:   #555;
  height:       50px;
  margin-left:  45%;
  font-family:  'Josefin Sans', sans-serif;
  margin-right:  -50px;
}
pageTitle{
  width:        calc(25% + 30px);
  height:       50px;
  text-align:   center;
  font-size:    calc(120%);
  line-height:  50px;
  color:        #b1b1b1;
 
  font-family:  'Shumi';
}
header-button{
  width:        100%;
  height:       50px;
  padding:      0;
  text-align:   center;
  color:        #b1b1b1;
  font-size:    20px;
  line-height:  50px;
  margin-right: 10px;
  cursor:       pointer;
}

header-button[data-page-status="nonactive"]:hover{
 animation: headerButtonHover .5s linear 1;
 background: #666;
}

header-button[data-page-status="nonactive"]:active{
 animation: headerButtonActive .3s linear 1;
 background: #444;
}

header-button[data-page-status="active"]{
  background:#333;
}

bodyContainer{
  display: block;
  
  z-index:      1;
  margin-top:   50px;
  width:        100%;
}
bodyText{
  text-align: center;
  font-family:  'Josefin Sans', sans-serif;
  font-weight: 500;
  color: #555;
  font-size: 23px;
  margin-top: 20px;
  display: block;
}
contactText{
  text-align: center;
  font-family:  'Josefin Sans', sans-serif;
  font-weight: 500;
  color: #555;
  font-size: 23px;
  margin-top: 20px;
  visibility: hidden;
}
subpageTitle{
  text-align:   center;
  font-family:  'Josefin Sans', sans-serif;
  font-weight: lighter;
  color: #555;
  font-size: 50px;
  margin-top: 20px;
  display: block;
}
underliner{
  height: 2px;
  width: 200px;
  background: #555;
  margin: auto;
  display: block;
  margin-top: 10px;
}
subpageSubtitle{
  text-align: center;
  font-family:  'Josefin Sans', sans-serif;
  font-weight: 600;
  color: #555;
  font-size: 25px;
  margin-top: 20px;
  display: block;
}
footerBar{
  display:        flex;
  flex-flow:      column;
  position:       absolute;
  text-align:     center;
  height:         130px;
  background:      #555;
  width:          100%;
  text-transform: uppercase;
  font-family:    'Open Sans', sans-serif;
  color:          #a1a1a1;
  font-size:      13px;
  justify-content: space-around;
}
codepenEmbedContainer{
  margin: auto;
  margin-top: 30px;
  margin-bottom: 150px;
  height: 660px;
  width: 75%;
}
footerInfo{
  margin-top: 5px;
}
#alphaWarning{
  color: red;
}
#footerLocation{
  
  font-size:    10px;
}

iframe[data-media-window-type="project-iframe"]{
 margin: auto;
 margin-top: 30px;
 margin-bottom: 150px;
 border: none;
 border-radius: 10px;
 z-index: 1;
}

.contact-site{
  object-fit: contain;
  width: 148px;
  height: 148px;
}

.contact-site-logo{
  object-fit: contain;
  width: 148px;
  height: 148px;
  fill: #555;

}

.contact-site-logo:hover{
  object-fit: contain;
  width: 148px;
  height: 148px;
  fill: #555;
  animation: contact-site-logo-hightlight 1s linear 1;
}


.contact-sites-container{
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;


}

/*Animations*/
@keyframes headerButtonHover{
  0%{background:   #555;}
  100%{background: #666;}
}
@keyframes headerButtonActive{
  0%{background:   #666;}
  100%{background: #333;}
}


/*Custom Scrollbar Properties*/

::-webkit-scrollbar{
  background: #444;

}
::-webkit-scrollbar-thumb{
  background: #666;
}
